html
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width:100%;
    height: auto;
}

body
{
    background-color: #261822;
    font-family: 'Montserrat', sans-serif, Arial;
    font-size: 16px; 	
    line-height: 35px;
    font-weight: 400;	
    color: #FCE8CA;
    letter-spacing: -1px;
    max-width:100%;
}

body a
{
    text-decoration: none;
    color:#0CD2E8; 
}

body a, body input, body button
{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

body a:hover
{
    color: #aaa6a0;
}

#head1{
    height:100%;
}
#aside1{
    width:13.5rem;
        
    position: absolute;
    top:50vh;
    right:5vw
}

nav {
  width: 100%;
  margin: 0;
}


nav ul {
  background-color: transparent;
    
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.logoh{
    float: left;
    position: absolute;
    padding-left: 16px;
}
ul.topnav li {
  list-style: none;
  float: right;
}

ul.topnav li:nth-child(5) {
  display: none;
}

ul.topnav li a {
  display: block;
  text-decoration: none;
  min-height: 16px;
  text-align: center;
  padding: 14px;
}

ul.topnav li a:hover {
  background-color: #F5D41E;
  color: #261822;
}

ul.topnav li.dropdownIcon {
  display: none;
}

/* Header */

.home-section {
  height: 100vh;
}

.home h1 {
  color: #F26419;
  padding: 0;
  margin: 0;
}

.home p {
  padding: 0px;
  margin: 0;
  color: #fff;
}

.home {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  margin: 10px;
  padding: 50px;
  align-items: center;
  justify-items: center;
  }

  .home i {
    font-size: 2rem;
    padding-top: 15px
  }

  .link {
    color: #fff;
  }

  .link:hover {
    color: #F26419;
  }

/* About Me */

.about-section {
  background-color: #F26419;
  height: 50vh;
  display: block;
  margin: auto;
  vertical-align: middle;
  text-align: center;
}

.about-section h1 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif, Arial;
  color: #2B303A;
  }

.about-section p {
  font-family: 'Montserrat', sans-serif, Arial;
  margin-left: 10%;
  margin-right: 10%;
  color: #fff;
  text-align: justify;
  }

.about-me-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}





/* Contact Me */

.contact-section {
  height: 63vh;
  margin: 0;
  padding: 0;
  background-color: #2B303A;
  text-align: center;
}

.contact-title {
  color: #fff;
  text-transform: uppercase;
}

.contact-title h1 {
  text-align: center;
  font-size: 24px;
  font-family:'Montserrat', sans-serif, Arial;
}

.form-control {
  width: 60%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #F26419;
  font-size: 18px;
  text-align: center;
}

input {
  height: 60px;
  font-family:'Montserrat', sans-serif, Arial;
  font-size: 16px;
}

form .submit {
  background: #F26419;
  border-color: transparent;
  color: #2B303A;
  letter-spacing: 2px;
  height: 40px;
  width: 150px;
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif, Arial;
}

form .submit:hover {
  background-color: #2B303A;
  cursor: pointer;
  color: #F26419;
  border: 1px solid #F26419;
}


/* Footer */

.footer {
  display: block;
  font-family:'Montserrat', sans-serif, Arial;
  padding: 1.8rem;
  background-color: #CC1F2D;
  color: #fff;
  text-align: center;
  text-transform:lowercase;
    margin-top: 10vh;
  }

/* Responsive - Mobile */

/* Responsive Nav Bar */

@media screen and (max-width: 680px) {
  ul.topnav li:not(:nth-child(5)) {
    display: none;
  }

  ul.topnav li:nth-child(5) {
    display: block;
  }

  ul.topnav li.dropdownIcon {
    display: block;
    float: right;
  }

  ul.topnav.responsive li.dropdownIcon {
    position: absolute;
    top: 0;
    right: 0;
  }

  ul.topnav.responsive {
    position: relative;
  }

  ul.topnav.responsive li{
    display: inline;
    float: none;
  }

  ul.topnav.responsive li:nth-child(5) {
    display: none;
  }

  ul.topnav.responsive li a {
    display: block;
    text-align: center;
  }

  ul.topnav li {
    font-size: 16px;
  }
}

.click {
  background-color: #F5D41E; /* Green */
  border: none;
  color: #40152A;
    font-family:'Montserrat', sans-serif, Arial;
    font-weight: 600;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btnshadow {
  box-shadow: 0 8px 16px 0 rgba(192, 108, 132,0.2), 0 6px 20px 0 rgba(192, 108, 132,0.19);
}

.btnshadow:hover {
    padding: 15px 42px;
    color:#8F1D2C;
  box-shadow: 0 12px 16px 0 rgba(143, 29, 44,0.24),0 17px 50px 0 rgba(143, 29, 44,0.19);
}





/* table */
.ourtable{
    width:60%;
    margin-top:10vh;
    margin-left: 20px;
}
table {
  font-family:'Montserrat', sans-serif, Arial;
  border-collapse: collapse;
  width: 100%;
   background: rgba(246, 114, 128,.4); 
}

td, th {
  border: 0 px solid #dddddd;
  text-align: left;
  padding-top: 15px;
    padding-left: 15px;
}

tr:nth-child(even) {
}
/* Set a style for table buttons */
.alter {
  background-color: #4CAF50;
  color: white;
    font-family:'Montserrat', sans-serif, Arial;
  border: none;
  cursor: pointer;
  width: 70px;
    height:40px;
  opacity: 0.9;
}

.alter:hover {
  opacity:1;
    color:#0CD2E8;
  box-shadow: 0 12px 16px 0 rgba(12, 210, 232,0.1),0 17px 50px 0 rgba(12, 210, 232,0.05);
}
.alter2 {
  background-color: #DB2B30;
  color: white;
    font-family:'Montserrat', sans-serif, Arial;
  border: none;
  cursor: pointer;
  width: 70px;
    height:40px;
  opacity: 0.9;
}

.alter2:hover {
  opacity:1;
    color:#0CD2E8;
  box-shadow: 0 12px 16px 0 rgba(143, 29, 44,0.24),0 17px 50px 0 rgba(143, 29, 44,0.19);
}




/* hide the images when on mobile */
@media screen and (max-width: 1080px) { 

  
    .zigzag
    {
        display: none;
    }

}
/* timer */

#time{
    font-family:'Montserrat', sans-serif, Arial;
    color: #0DFFD5;
    font-size: 20px;
    font-weight: bold;
}

/* Responsive Header */

.about-section {
  height: 75vh;
}

.top-container p {
  font-size: 13px;
}

.home i {
  font-size: 1.5rem;

}



/////////////////////////////////

/* Header  on landing page */

   
